openapi: 3.1.0
info:
  title: Gjensidige Boligselgerforsikring API
  description: |-
    Openapi spec for Gjensidige's seller insurance and self declaration service.
  contact:
    email: scott.gullaksen@gjensidige.no
  version: 1.0.0

servers:
  - url: https://connect.testgjensidige.com/eiendomsmegling-api
  - url: https://connect.gjensidige.com/eiendomsmegling-api

security:
  - app2AppOauth:
      - bsf:read
      - bsf:write

tags:
  - name: self declaration
    description: Access to operations on the self declaration form
    externalDocs:
      description: Find out more about Gjensidige's self declaration form
      url: https://www.gjensidige.no/forsikring/boligforsikring/boligselgerforsikring/egenerklaring
  - name: seller insurance
    description: Access to operations on sellers estate insurance
    externalDocs:
      description: Find out more about Gjensidige's seller insurance
      url: https://www.gjensidige.no/forsikring/boligforsikring/boligselgerforsikring

paths:
  /self-declaration:
    post:
      tags:
        - self declaration
      summary: Send/resend the self declaration form with an insurance offer for the seller to fill out
      operationId: sendSelfDeclaration
      requestBody:
        $ref: '#/components/requestBodies/EstateSale'
      responses:
        '200':
          $ref: '#/components/responses/InsuranceDetails'
        '500':
          description: Internal server error
        default:
          $ref: '#/components/responses/Error'

    put:
      tags:
        - self declaration
      summary: Modify details or state of self declaration form
      operationId: updateSelfDeclaration
      requestBody:
        $ref: '#/components/requestBodies/EstateSale'
      responses:
        '200':
          $ref: '#/components/responses/InsuranceDetails'
        '500':
          description: Internal server error
        default:
          $ref: '#/components/responses/Error'

  /self-declaration/{assignmentId}:
    get:
      tags:
        - self declaration
      summary: Retrieve details from the self declaration form; form progress, etc
      operationId: getSelfDeclarationDetails
      parameters:
        - $ref: '#/components/parameters/assignmentId'
        - $ref: '#/components/parameters/orgnr'
      responses:
        '200':
          $ref: '#/components/responses/SelfDeclarationDetails'
        default:
          $ref: '#/components/responses/Error'

  /self-declaration/{assignmentId}/signed-pdf:
    get:
      tags:
        - self declaration
      summary: Retrieve the signed pdf if available
      operationId: getSignedSelfDeclarationPdf
      parameters:
        - $ref: '#/components/parameters/assignmentId'
        - $ref: '#/components/parameters/orgnr'
      responses:
        '200':
          $ref: '#/components/responses/SignedSelfDeclaration'
        default:
          $ref: '#/components/responses/Error'

  /seller-insurance:
    put:
      tags:
        - seller insurance
      summary: Update details of the seller insurance
      operationId: updateSellerInsurance
      requestBody:
        $ref: '#/components/requestBodies/EstateSale'
      responses:
        '200':
          $ref: '#/components/responses/InsuranceDetails'
        '500':
          description: Internal server error
        default:
          $ref: '#/components/responses/Error'

components:
  parameters:
    assignmentId:
      name: assignmentId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/AssignmentId'

    orgnr:
      name: orgnr
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/OrganizationNumber'

  schemas:
    EstateSale:
      type: object
      description: Information regarding the sale of the estate.
      properties:
        assignmentId:
          $ref: '#/components/schemas/AssignmentId'
        brokerDepartment:
          $ref: '#/components/schemas/BrokerDepartment'
        estate:
          $ref: '#/components/schemas/Estate'
        mainSeller:
          description: The main seller of the estate. First receiver of the self declaration form.
          $ref: '#/components/schemas/Seller'
        coSellers:
          type: array
          description: |
            If there are multiple sellers of the estate, put the additional ones here.
            These will receive the self declaration form (to sign) after the main seller has signed.
          items:
            $ref: '#/components/schemas/Seller'
          example:
            - firstname: "Medselger"
              surname: "Medselgersen"
              socialSecurityNumber: "09876543210"
              email: "test2@test.test"
              phoneNumber: "87654321"
        priceSuggestion:
          descripton: Price suggestion.
          type: integer
          example: 100000
        ownershipType:
          $ref: '#/components/schemas/Ownershiptype'
          default: annen_eierform
        forcedSale:
          description: If the property is forced to sale (tvangssalg). Does not qualify for the sellers insurance.
          type: boolean
        estateOfDeceased:
          description: If the property is a sale of deceased sellers.
          type: boolean
        professional:
          description: |
            If the sale of the property is in any way associated with professional real estate sellers.
            Does not qualify for the sellers insurance.
          type: boolean
        salePrice:
          description: Final sale price - required to activate insurance.
          type: integer
          example: 1000000
        takeoverDate:
          description: Takeover date - required to activate insurance.
          nullable: false
          format: date
          type: string
          example: "2023-05-28"
        sellerInsuranceActive:
          description: Set to true if should activate/confirm the insurance
          type: boolean
        selfDeclarationFormLocked:
          description: If the self declaration form should be closed for editing (true) or open (false)
          type: boolean
      required:
        - assignmentId
        - orgnr
        - brokerDepartment
        - estate
        - mainSeller
        - coSellers
        - priceSuggestion
        - ownershipType
        - forcedSale
        - estateOfDeceased
        - professional

    Estate:
      type: object
      description: Information regarding the Estate being sold.
      properties:
        address:
          $ref: '#/components/schemas/Address'
        estateType:
          $ref: '#/components/schemas/EstateType'
          default: annet_boligbygg
        floorArea:
          description: Floor area.
          type: integer
          example: 100
        builtYear:
          description: Construction year.
          type: integer
          example: 2004
      required:
        - address
        - estateType
        - floorArea
        - builtYear

    BrokerDepartment:
      type: object
      description: Details of the broker company/office/department responsible for the sale.
      properties:
        name:
          description: Name of broker department
          type: string
          example: "Eiendomsmegling AS, avd. Oslo"
        orgnr:
          $ref: '#/components/schemas/OrganizationNumber'
        id:
          description: Unique id for the department, provided by Gjensidige
          type: string
          example: "S123456"
      required:
        - name
        - orgnr
        - id

    Seller:
      type: object
      description: Information regarding the seller(s) of the estate.
      properties:
        firstname:
          description: First name - Cannot be blank.
          type: string
          example: "Selger"
        surname:
          description: Last name - Cannot be blank.
          type: string
          example: "Selgersen"
        socialSecurityNumber:
          description: Social security number - Must be 11 digits.
          type: string
          example: "01234567890"
        email:
          description: Email.
          type: string
          format: email
          example: "test@test.test"
        phoneNumber:
          description: Phone number - Must be 8 digits.
          type: string
          example: "12345678"
      required:
        - firstname
        - surname
        - socialSecurityNumber
        - email
        - phoneNumber

    Ownershiptype:
      type: string
      enum:
        - selveier
        - borettslag
        - aksje
        - obligasjon
        - annen_eierform
      description: |
        Ownership types
        - `selveier`: Full ownership of property and land.
        - `borettslag`: Right to use via housing cooperative membership.
        - `aksje`: Right to use tied to company share ownership.
        - `obligasjon`: Right to use based on a housing bond.
        - `annen_eierform`: Unknown/other ownership type. Does not qualify for the insurance.

    EstateType:
      type: string
      enum:
        - enebolig
        - bolighus
        - rekkehus
        - leilighet
        - hytte
        - annet_boligbygg
      description: |
        Ownership types
        - `enebolig`: Single-family house. Detached. On its own plot of land.
        - `bolighus`: Residential house.
        - `rekkehus`: Townhouse/Row house.
        - `leilighet`: Apartment.
        - `hytte`: Cabin/Cottage.
        - `annet_boligbygg`: Other residential building. Does not qualify for the insurance.

    Address:
      type: object
      description: Information regarding the address of the estate being sold.
      properties:
        streetAddress:
          description: Street address - Cannot be blank.
          type: string
          example: "Adresseveien 15"
        city:
          description: City - Cannot be blank.
          type: string
          example: "OSLO"
        postalCode:
          description: Postal code - Cannot be blank.
          type: string
          example: "0037"
        municipalityNumber:
          description: Municipality number - Must be 4 digits.
          type: string
          example: "0001"
        gaardsnummer:
          description: Gårdsnummer - Must be digits.
          type: string
          example: "1"
        bruksnummer:
          description: Bruksnummer.
          type: integer
          example: 1
        festenummer:
          description: Festenummer.
          type: integer
          example: 1
        seksjonsnummer:
          description: Seksjonsnummer.
          type: integer
          minimum: 0
          example: 1
        bolignummer:
          description: Bolignummer - Cannot be blank if present.
          type: string
          example: "H101"
      required:
        - streetAddress
        - city
        - postalCode
        - municipalityNumber
        - gaardsnummer
        - bruksnummer

    AssignmentId:
      type: string
      description: Uniquely identifies the estate assignment in the broker system - Cannot be blank.
      example: "1"

    OrganizationNumber:
      description: Organization number for the broker department responsible for the sale - Must be 9 digits.
      type: string
      example: "123456789"

    SelfDeclarationDetails:
      type: object
      description: Details from the self declaration form; form progress, etc
      properties:
        insuranceAccepted:
          description: If the seller accepted the insurance or not.
          type: boolean
        signed:
          description: If the self declaration form is signed (true), or not (false).
          type: boolean
        locked:
          description: If the form is locked for editing (true), or not (false)
          type: boolean
        signedAt:
          description: When the seller last signed the self declaration form. Null if it is not signed.
          type: string
          format: date
          example: '2008-12-03T10:15:30'
          nullable: true
        lockStateChangedAt:
          description: When the lock state on the self decleration form was last altered. Null if the lock wasn't altered.
          type: string
          format: date
          example: '2008-12-03T10:15:30'
      required:
        - insuranceAccepted
        - signed
        - locked

    InsuranceDetails:
      type: object
      description: Insurance details.
      properties:
        insuranceNumber:
          description: Unique id for the insurance instance.
          type: string
          example: "1"
        kid:
          description: Payment identification number.
          type: string
          example: "1"
        accountNumber:
          description: Account number.
          type: string
          example: "1"
        price:
          description: Current price of the boligselgerforsikring insurance. Subject to change.
          type: integer
        active:
          description: Whether the insurance is activated (sold/confirmed) or not
          type: boolean
      required:
        - insuranceNumber
        - kid
        - accountNumber
        - price
        - active

    Error:
      type: object
      properties:
        message:
          description: Detailed error description
          type: string
          nullable: true
          example: "An error occured"
        code:
          $ref: '#/components/schemas/ErrorCode'

    ErrorCode:
      type: string
      enum:
        - address_not_found
        - ambiguous_address
        - disqualified
        - email_incorrectly_formatted
        - insurance_already_confirmed
        - insurance_not_accepted
        - insurance_not_found
        - manual_processing_required
        - media_type_not_supported
        - method_not_supported
        - missing_address
        - missing_bruksnummer
        - missing_built_year
        - missing_city
        - missing_email
        - missing_festenummer
        - missing_firstname
        - missing_floor_area
        - missing_gaardsnummer
        - missing_json_field
        - missing_lastname
        - missing_main_building
        - missing_municipality_number
        - missing_path_variable
        - missing_phone
        - missing_postal_code
        - missing_price_suggestion
        - missing_sale_price
        - missing_seksjonsnummer
        - missing_seller
        - missing_ssn
        - missing_takeover_date
        - self_declaration_not_found
        - self_declaration_not_locked
        - self_declaration_not_signed
        - seller_not_found
        - signed_self_declaration_not_found
        - signing_expired
        - ssn_incorrectly_formatted
        - takeover_date_too_early
        - unknown
        - unknown_estate_type
        - unknown_ownership_type

      description: |
        Code for resolving input errors.
        - `address_not_found`: Address could not be found (in Norkart's registries)
        - `ambiguous_address`: The provided address is ambiguous and gives multiple search results
        - `disqualified`: The estate does not qualify to buy boligselgerforsikring. See 'message' for more details.
        - `email_incorrectly_formatted`: Email of seller is formatted incorrectly
        - `insurance_already_confirmed`: The insurance is already bought/confirmed.
        - `insurance_not_accepted`: The seller declined the insurance offer, and the insurance cannot be confirmed
        - `insurance_not_found`: Insurance is either not found, or is outdated. A new self declaration (and offer) must be created.
        - `manual_processing_required`: The insurance needs to be handled manually. Contact boligselgerforsikring@gjensidige.no.
        - `media_type_not_supported`: Query parameter did not pass the input requirements
        - `method_not_supported`: Http method is not supported.
        - `missing_address`: Street address is missing
        - `missing_bruksnummer`: Bruksnummer is missing
        - `missing_built_year`: Built year is missing
        - `missing_city`: City is missing
        - `missing_email`: Email of seller is missing
        - `missing_festenummer`: Festenummer is required for this address, and is missing
        - `missing_firstname`: Firstname of seller is missing
        - `missing_floor_area`: Floor area is missing
        - `missing_gaardsnummer`: Gaardsnummer is missing
        - `missing_json_field`: A required json field is missing from the input schema
        - `missing_json_field`: Input json object is missing a required field
        - `missing_lastname`: Lastname of seller is missing
        - `missing_main_building`: Could not find a main building on the given address
        - `missing_municipality_number`: Municipality number is missing
        - `missing_path_variable`: A required path variable is missing from the url
        - `missing_phone`: Phone number of seller is missing
        - `missing_postal_code`: Postal code is missing
        - `missing_price_suggestion`: Price suggestion is missing
        - `missing_sale_price`: Sale price is missing
        - `missing_seksjonsnummer`: Seksjonsnummer is required for this address, and is missing
        - `missing_seller`: Seller is missing
        - `missing_ssn`: Social security number of seller is missing
        - `missing_takeover_date`: Takeover date is missing
        - `self_declaration_not_found`: The self declaration form was not found. The form must first be created/sent out.
        - `self_declaration_not_locked`: The self declaration must first be locked.
        - `self_declaration_not_signed`: The self decleration form (egenerklæring) must first be signed by the seller.
        - `seller_not_found`: Could not find given seller. Please check the social security number.
        - `signed_self_declaration_not_found`: The signed self declaration is not available for download.
        - `signing_expired`: The signed self declaration form is over 6 months old, and has expired.
        - `ssn_incorrectly_formatted`: Social security number of seller is formatted incorrectly
        - `takeover_date_too_early`: Takeover date cannot be earlier than todays date.
        - `unknown_estate_type`: Check that estate type is one of: 'enebolig', 'leilighet', 'bolighus', 'rekkehus', 'hytte'
        - `unknown_ownership_type`: Check that ownership type is one of: 'selveier', 'borettslag', 'aksje', 'obligasjon'
        - `unknown`: An unknown error occurred. Please contact Gjensidige if the error sustains.

  requestBodies:
    EstateSale:
      description: Json payload with estate sale information
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EstateSale'

  responses:
    SelfDeclarationDetails:
      description: Json response with self declaration details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SelfDeclarationDetails'

    InsuranceDetails:
      description: Json response with seller insurance offer details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsuranceDetails'

    SignedSelfDeclaration:
      description: Byte stream response of the signed self declaration pdf.
      content:
        application/pdf:
          schema:
            type: string
            format: binary
      headers:
        Content-Disposition:
          description: Indicates the content is an attachment
          schema:
            type: string
            example: attachment; filename=document.pdf

    Error:
      description: Json response with error messages and codes
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Error'
          example:
            - code: "method_not_supported"
              message: "Http method 'GET' is not supported. Supported methods are: [POST]"

  securitySchemes:
    app2AppOauth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /mga/sps/oauth/oauth20/token
          scopes:
            bsf:read: Perform actions in boligselgerforsikring service
            bsf:write: Read from boligselgerforsikring service
